aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anthropic
anyio
asgiref
attrs
beautifulsoup4
blinker
cachetools
click
contourpy
crispy-bootstrap5
cryptography
cycler
dataclasses-json
datasets
dill
Django
django-cors-headers
django-crispy-forms
django-filter
djangorestframework
docker-pycreds
docx
docx2txt
exceptiongroup
fastapi
fastapi-mcp
fastmcp
ffmpy
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gradio
gradio_client
groovy
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
iniconfig
Jinja2
joblib
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
linkedin-api
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mcp
mdurl
mpmath
multidict
multiprocess
mypy_extensions
narwhals
nest-asyncio
networkx
oauthlib
openai
openapi-pydantic
pandas
pdfminer
pdfminer.six
pillow
pinecone
pinecone-plugin-interface
pluggy
propcache
proto-plus
protobuf
psutil
# pyarrow
pyasn1
pyasn1_modules
pycryptodome
pydantic-settings
pydeck
pydub
Pygments
pyparsing
PyPDF2
pytest
pytest-asyncio
pytest-socket
python-dateutil
python-docx
python-dotenv
python-magic
python-multipart
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
semantic-version
sentry-sdk
setproctitle
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
sse-starlette
starlette
streamlit
sympy
syrupy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli
tomlkit
torch
torchvision
tornado
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wandb
websockets
wheel
XlsxWriter
xxhash
yarl